.firstHalf{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 400px;
     height: 400px;
     padding-left: 50px;
}
.firstHalf hr{
     width: 270px;
     height: 3px;
     border-style: none;
     background-color: black;
     margin-bottom: 10px;
}
.firstHalf  span{
     font-size: 20px;
     padding: 5px 28px;
     margin-bottom: 10px;
     background-color:  rgb(14, 7, 45);
     color: wheat;
}


.full{
     display: flex;
}

.singleLine{
     display: flex;
     padding: 10px 20px;
}
.fullTable{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.left{
     text-align: right;
     width: 150px;
     margin-left: 20px;
}
.right{
     text-align: left;
     width: 300px;
     margin-left: 20px;
}

.fullTable span{
     font-size: 20px;
     font-weight: bold;
}
.fullTable input{
     height: 20px;
     width: 240px;
}



.remove{
     padding-top: 20px;
     padding-left: 150px;
}
.remove button{
     padding: 6px 30px;
     background-color: rgb(14, 7, 45);
     color: rgb(255, 255, 255);
     font-weight: bold;
}
.remove button:hover{
     border-color: white;
}
.back{
     text-align: right;
     margin-right: 200px;
}

.back button{
     padding: 4px 11px;
     cursor: pointer;
     font-weight: bold;
     font-size: 15px;
     color: red;
}
