
.firstHalf hr{
     width: 220px;
     height: 3px;
     border-style: none;
     background-color: black;
     margin-bottom: 10px;
}
.firstHalf  span{
     font-size: 20px;
     padding: 5px 28px;
     margin-bottom: 10px;
     background-color:  rgb(14, 7, 45);
     color: wheat;
}


.full{
     margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.singleLine{
     display: flex;
     padding: 10px 20px;
}


.fullTable input{
     height: 20px;
     width: 240px;
}


.back{
     text-align: right;
     margin-right: 200px;
}

.back button{
     padding: 7px 11px;
     border-radius: 5px;
     cursor: pointer;
     font-weight: bold;
     font-size: 15px;
     color: red;
}
.selectItem{
     margin: 20px 0px;
}

.selectButten{
     padding: 9px 30px;
     font-weight: bold;
     color:rgb(14, 7, 45);
     font-size: 16px;
}

.submitButten{
     margin-left: 20px;
     padding-top: 10px;
     padding-bottom: 25px;
     font-weight: bold;
     color: white;
     background-color: rgb(14, 7, 45);
}